.col.col-lg-6.bg-yellow.white.h-700 {
    height: 700px;
}

.col.col-lg-6.bg-yellow.white.h-700 {
    color: white;
}

.dashboard__user-name {
    display: none;
}

.col-md-6.d-flex.align-items-center.justify-content-end {
    display: none;
}

a.dashboard__exit {
    display: none;
}
